@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

body{
    height:100%;
}

* {
    box-sizing: border-box;
}

.crt:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient( to bottom, rgba(44, 41, 41, 0) 50%, rgb(0 0 0 / 2%) 50% );
    background-size: 100% 8px;
    z-index: 3;
    pointer-events: none;
    height: 100vh;
    animation: slideup 15s linear 1s infinite;
    overflow: hidden;
}

@keyframes slideup {
    0% { background-position: 0 0; }
    50% { background-position: 0 300px; }
    100% { background-position: 0 900px; }
  }

.homepage{
    background-color: black;
    font-family: 'Roboto Mono', monospace;
}

.scanline {
    width: 100%;
    height: 50px;
    z-index: 8;
    background: linear-gradient( 
0deg, rgb(139 139 139 / 0%) 0%, rgb(80 76 76 / 18%) 10%, rgb(0 0 0 / 13%) 80% );
    opacity: 0.3;
    position: absolute;
    bottom: 100%;
    animation: scanline 10s linear infinite;
    pointer-events: none;
}

@keyframes scanline {
    0% {
        bottom: 100%;
    }
    50% {
        bottom: 90%;
    }
    100% {
        bottom: 0%;
    }
}

.main-nav{
    text-align: left;
    background-color: #e9e9e9;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 21px;
    display: flex;
    align-items: center;
    height: 36px;
    border-bottom: 1px black solid;
}

.main-nav > a{
    padding: 0 10px;
    margin-bottom: 3px;
    color: black;
}

.computer-icon{
    width:3%;
    border-radius: 50%;
    padding: 2px
}

.screen-div{
    padding: 20px;
    z-index: 2;
    display: grid;
    grid-template-columns: 0.3fr 4fr;
    background-color: #e2f2ff;
    width: 100vw;
    height: 96vh;
}

.icon-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.icon-section{
    cursor: pointer;
}

.icon-section > img{
    width: 60%
}

.icon-label{
    background-color: rgba(235, 235, 235, 0.582);
}

.popup-div{
    position: relative;
}

h1.heading{
    color: #182B26
}

h2.pop-up-headers{
    color: white;
}

.about-div{
    width: 70%;
    border-radius: 29px;
    display: grid;
    grid-template-columns: 1.2fr 4fr;
    margin-left: 5%;
    box-shadow: inset -1px 1px 2px #000, inset 1px -1px 2px #000, 4px 4px 2px rgb(0 0 0 / 20%);
    opacity: 0;
    transition: ease 0.5s;
    background-color: #fff;
    position: absolute;
}

.project-div{
    width: 85%;
    border-radius: 29px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin-left: 5%;
    box-shadow: inset -1px 1px 2px #000, inset 1px -1px 2px #000, 4px 4px 2px rgb(0 0 0 / 20%);
    opacity: 0;
    transition: ease 0.5s;
    background-color: #fff;
    position: absolute;
    top: 16%;
    left: 3%;
}

.skills-div{
    width: 50%;
    border-radius: 29px;
    margin-left: 5%;
    box-shadow: inset -1px 1px 2px #000, inset 1px -1px 2px #000, 4px 4px 2px rgb(0 0 0 / 20%);
    opacity: 0;
    transition: ease 0.5s;
    background-color: #fff;
    position: absolute;
    top: 3%;
    left: 32%;
}

.aside{
    background: rgb(178,188,194);
    background: linear-gradient(57deg, rgba(178,188,194,1) 37%, rgba(227,227,227,1) 111%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
    padding: 0 10px;
}

.aside > p {
    text-decoration: underline;
    cursor: pointer;
}

.control-row{
    width: 100%;
    height: 20px;
    margin: 18px 6px;
}

.exit-btn{
    background-color: rgb(151, 0, 0);
    border-radius: 50%;
    border: 1px black solid;
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.body-div{
    display: grid;
    grid-template-rows: 0.1fr 4fr;
    border-top-right-radius: 29px;
    overflow: hidden;
}

.skills-body-div{
    display: grid;
    grid-template-rows: 0.1fr 3fr;
    border-top-right-radius: 29px;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
    overflow: hidden;
}

.header-div{
    background: rgb(52,52,52);
    background: radial-gradient(circle, rgba(52,52,52,1) 11%, rgba(82,82,82,1) 35%, rgba(90,90,90,1) 45%, rgba(101,101,101,1) 97%);
    height: 100%;
    width: 100%;
}

.main-div{
    padding: 30px;
    max-height: 568px;
    overflow: auto;
}

.profile-image{
    border-radius: 50%;
    width: 36%;
}

.profile-main > p {
    text-align: left;
}

.experience-section{
    padding: 20px 0px;
}

.experience-header{
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    text-align: left;
    margin: auto;
}

.experience-header > img{
    width: 50%;
    margin: 0 auto;
}

.experience-list{
    text-align: left;
}

li{
    padding: 10px 0;
}

.visable{
    opacity: 100;
    z-index: 2;
}

.hide{
    display: none;
}

.bring-front{
    z-index: 4;
}

.bold{
    font-weight: 700;
}

.tic-tac-toe-main, .l-bry-main, .portfolio-main, .bens-friend-main{
    text-align:left;
}

.tic-tac-toe-main a, .l-bry-main a, .portfolio-main a, .bens-friend-main a{
    margin: 0 10px;
    color: black;
}

.project-screenshots{
    width: 100%;
    margin: 20px 0;
}

.skills-main-div{
    text-align: left;
}

.education-main {
    text-align: left;
}

.education-main .qualification{
    padding: 5px 0;
}

.fun-facts-main {
    text-align: left;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 500px){

    .computer-icon{
        width: 8%;
        padding: 0px;
    }
        
    .screen-div{
        grid-template-rows: 4fr 0.3fr;
        grid-template-columns: none;
    }

    .icon-list{
        flex-direction: row;
    }

    .icon-list{
        order: 2;
    }

    .popup-div{
        order: 1;
    }

    .about-div, .project-div, .skills-div{
        height: 92%;
        grid-template-columns: 1.9fr 4fr;
        width: 100%;
        margin-left: 0;
        top: 0%;
        left: 0%;
    }

    .skills-body-div{
        height: 100%;
    }

    .skills-main-div{
        height: 100%;
    }

    .experience-header{
        display: block;
    }

}



/* @keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
  } */